// https://coolors.co/1e1e1e-4e6b6c-f7f7f7-ffffff-da784d

$storm: #4E6B6C;
$smoke: #F7F7F7;
$accent: #DA784D;
$white: #FFFFFF;

$russian-violet: #10002B;
$black: #060D14;
$rich-black: #0D1B2A;
$oxford-blue: #1B263B;
$ylnmn-blue: #415A77;
$sliver-lake-blue: #778DA9;
$platinum: #E0E1DD;