.about {
  width: 100%;
  background-color: $black;

  p {
    @include size(h3);
    margin-top: $vertical-rhythm;
  }

  a {
    background-image: linear-gradient($accent, $accent);
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 2px 3px;
    text-decoration: none;
    text-shadow: .03em 0 $black, -.03em 0 $black, 0 .03em $black, 0 -.03em $black,
    .06em 0 $black, -.06em 0 $black, .09em 0 $black, -.09em 0 $black,
    .12em 0 $black, -.12em 0 $black, .15em 0 $black, -.15em 0 $black,
    .03em .075em $black, -.03em .075em $black, .06em .075em $black,
    -.06em .075em $black, .09em .075em $black, -.09em .075em $black,
    .12em .075em $black, -.12em .075em $black, .15em .075em $black,
    -.15em .075em $black;

    &:hover {
      color: $accent;
    }
  }
}
