<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="list-main">
        <div class="row">
          <div class="col-xs-12 list-header">
            <h1>{{ humanize .Type }}</h1>
          </div>

          <div class="list-container">
            <div class="row">

              {{ range .Data.Pages }}
                <div class="col-xs-12">
                  <div class="list-item">
                    <div class="list-img-container">
                      {{ if .Params.cover_image }}
                        <img src="/images/{{ .Params.cover_image }}" alt="{{ .Title }}">
                      {{ else }}
                        <div class="default-cover"></div>
                      {{ end }}
                    </div>
                    <div class="list-text-container">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}</p>
                    </div>
                    <div class="row middle-xs center-xs list-overlay" style="flex-direction: column;">
                      <a href="{{ .Permalink }}" class="open-preview-page"></a>
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>

        </div>

      </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
