{{ if .Site.Params.highlightJS }}
  {{ if .Site.Params.highlightJSScript }}
    <script src="{{ .Site.Params.highlightJSScript }}"></script>
  {{ else }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
  {{ end }}
  <script>hljs.highlightAll();</script>
{{ end }}

{{ if .IsHome }}
  <script src="{{ (resources.Get "js/src/index.js" | minify | fingerprint).Permalink }}" type="text/javascript"></script>
{{ else }}
  <script src="{{ (resources.Get "js/src/main.js" | minify | fingerprint).Permalink }}" type="text/javascript"></script>
{{ end }}

{{ if .Site.Params.math }}
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js" integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
      onload="renderMathInElement(document.body, {
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\[', right: '\\]', display: true},
          {left: '\\(', right: '\\)', display: false}
        ]
      });"></script>
{{ end }}
