{{ if .Site.Params.googleTagManager }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{{ end }}

{{ if .IsHome }}
  {{ $techPages := (where .Site.RegularPages "Section" "tech") }}
  {{ $workPages := (where .Site.RegularPages "Section" "work") }}
  {{ $gamePages := (where .Site.RegularPages "Section" "games") }}

  {{/* First Line show game related pages*/}}
  {{ $preivewGamePages := slice }}
  {{/* Third Line show all cg, tech pages*/}}
  {{ $preivewCGPages := slice }}

  {{ range $gamePages }}
    {{ $preivewGamePages = $preivewGamePages | append . }}
  {{ end }}

  {{ range $techPages }}
    {{ $preivewCGPages = $preivewCGPages | append . }}
  {{ end }}

  {{ range $workPages }}
    {{ $preivewGamePages = $preivewGamePages | append . }}
  {{ end }}

  <header class="row middle-xs center-xs">
    {{/*    background, use gallery item  */}}
    <div class="preview-background preview-height">
      {{/*   First line's game pages   */}}
      {{ range $i, $page := $preivewGamePages }}
        {{/*    Make sure no project dominate    */}}
        {{ $maxPageImages := 3}}
        {{ $combined := slice }}

        {{/* 构建组合的数组，每项包含 image, text, 和 aspect_ratio */}}
        {{ range $j, $image := $page.Params.preview_images }}
          {{ $text := index $page.Params.preview_text $j }}
          {{ $aspect_ratio := index $page.Params.preview_aspect_ratios $j }}
          {{ $combined = $combined | append (dict "image" $image "text" $text "aspect_ratio" $aspect_ratio) }}
        {{ end }}

        {{ $shuffled := first $maxPageImages (shuffle $combined) }}

        {{range $item := $shuffled }}
          {{ $image := $item.image }}
          {{ $text := $item.text }}
          {{ $aspect_ratio := $item.aspect_ratio }}

          <div class="preview-item game-related" onclick {{ if $page.Params.color }}style="background-color:{{ $page.Params.color }}; aspect-ratio: {{$aspect_ratio}}"{{ end }}>
            <div class= "preview-img-container">
              <img {{ if $page.Site.Params.lazyLoading }}data-src="/images/{{$image}}" class="lazyload" lazyload="on" {{ else }}src="/images/{{$image}}"{{ end }} {{ if $page.Params.alt }}alt="{{ $page.Params.alt }}"{{ end }}>
            </div>
            <div class="row middle-xs center-xs preview-overlay" style="flex-direction: column;">
              <a href="{{ $page.Permalink }}" class="open-preview-page"></a>
              <h3>{{ $page.Params.title }}</h3>
              <h5>{{ $text }}</h5>
            </div>
          </div>
        {{ end }}
      {{ end }}

      {{/*   Third line's cg pages   */}}
      {{ range $i, $page := $preivewCGPages }}
        {{/*    Make sure no project dominate    */}}
        {{ $maxPageImages := 3}}
        {{ $combined := slice }}

        {{/* 构建组合的数组，每项包含 image, text, 和 aspect_ratio */}}
        {{ range $j, $image := $page.Params.preview_images }}
          {{ $text := index $page.Params.preview_text $j }}
          {{ $aspect_ratio := index $page.Params.preview_aspect_ratios $j }}
          {{ $combined = $combined | append (dict "image" $image "text" $text "aspect_ratio" $aspect_ratio) }}
        {{ end }}

        {{ $shuffled := first $maxPageImages (shuffle $combined) }}

        {{range $item := $shuffled }}
          {{ $image := $item.image }}
          {{ $text := $item.text }}
          {{ $aspect_ratio := $item.aspect_ratio }}

          <div class="preview-item cg-related" onclick {{ if $page.Params.color }}style="background-color:{{ $page.Params.color }}; aspect-ratio: {{$aspect_ratio}}"{{ end }}>
            <div class= "preview-img-container">
              <img {{ if $page.Site.Params.lazyLoading }}data-src="/images/{{$image}}" class="lazyload" lazyload="on" {{ else }}src="/images/{{$image}}"{{ end }} {{ if $page.Params.alt }}alt="{{ $page.Params.alt }}"{{ end }}>
            </div>
            <div class="row middle-xs center-xs preview-overlay" style="flex-direction: column;">
              <a href="{{ $page.Permalink }}" class="open-preview-page"></a>
              <h3>{{ $page.Params.title }}</h3>
              <h5>{{ $text }}</h5>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{/*   First line   */}}
      <div class="preview-grid-row preview-row-odd preview-row-1"></div>
      {{/*   Second line, Empty for now   */}}
      <div class="preview-grid-row preview-row-even preview-row-2"></div>
      <div class="preview-grid-row preview-row-even preview-row-3"></div>
    </div>
    <div class="col-xs-12 preview-main" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="row middle-xs center-xs preview-name" style="">
        <div class="col-xs-12">
          <h1>{{ .Site.Params.tagline }}</h1>
        </div>
        <div class="col-xs-12">
          <h3>{{ .Site.Params.description }}<span class="cursor">|</span></h3>
        </div>
      </div>
    </div>
  </header>
{{ end }}

{{ if .IsHome }}
<script src="{{ (resources.Get "js/src/preview.js" | minify | fingerprint).Permalink }}" type="text/javascript"></script>
{{ end }}

<nav class="row middle-xs center-xs">
  <div class="col-xs-6 col-sm-1 logo">
    <a href="{{ "#" | relLangURL }}"><img {{ if .Site.Params.lazyLoading }}data-src="{{ .Site.Params.logoSmall }}" class="lazyload" lazyload="on"{{ else }}src="{{ .Site.Params.logoSmall }}"{{ end }} alt="{{ .Site.Title }}"></a>
  </div>
    {{ range .Site.Menus.main }}
      <div class="col-xs-3 col-sm-2">
        <h3><a href="{{ .URL }}">{{ .Name }}</a></h3>
      </div>
    {{ end }}
  <div class="col-xs-6 col-sm-1 nav-toggle">
      <a href="" class="nav-icon" onclick="return false">
        <img {{ if .Site.Params.lazyLoading }}data-src="/images/icon-menu-white.png" class="lazyload" lazyload="on"{{ else }}src="/images/icon-menu-white.png"{{ end }} alt="Open Menu">
        <img {{ if .Site.Params.lazyLoading }}data-src="/images/icon-x-white.png" class="lazyload" lazyload="on"{{ else }}src="/images/icon-x-white.png"{{ end }} alt="Close Menu" style="display: none;">
      </a>
  </div>
</nav>

<section class="nav-full row middle-xs center-xs">
  <div class="col-xs-12">
    <div class="row middle-xs center-xs">
      {{ range .Site.Menus.main }}
        <div class="col-xs-12"><h1><a href="{{ .URL }}">{{ .Name }}</a></h1></div>
      {{ end }}
    </div>
  </div>
</section>
